@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply font-roboto overflow-x-hidden bg-white scroll-smooth text-black/85
}


@font-face {
    font-family: 'Open-Sans';
    src: url(Assets/Fonts/OpenSauceOne-SemiBold.ttf);
}

:root{
    --roboto: 'Roboto', sans-serif;
    --Open-Sans: 'Open-Sans', sans-serif;
    --main-color: #c04127;
}


@layer components{
    .borderBtn{
        @apply border-[1.2px] p-[5px_10px] rounded-2xl
    }

    .borderBtn:hover{
        @apply bg-black/80 text-white
    }

    .borderBtn2{
        @apply bg-white/50 w-fit p-[15px_20px] rounded-full translate-x-0
    }

    .overlay{
        
    }


    /* Menu */
    .bar1, .bar2{
        transition: 250ms ease;
    }

    .menu.active > .bar1{
        rotate: 45deg;
        translate: 0px 1px !important;
        /* transition: 250ms ease-in-out; */
    }
    .menu.active > .bar2{
        rotate: -45deg;
        translate: 0px -2px !important;
        /* transition: 250ms ease-in-out; */
    }
}